.info.search-content-wrapper {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  width: 100%;
}
.info.search-content-wrapper .hero-details-review {
  padding-left: 0;
}
.info.search-content-wrapper .hero-details-review h2 {
  font-size: 48px;
}
.info.search-content-wrapper .hero-details-review p {
  font-size: 28px;
  margin-top: 10px;
}
.search-box-wrapper ul li {
  display: inline-block;
}
.search-box-wrapper ul {
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0px;
  border-radius: 5px;
}
.search-box-wrapper ul li input {
  padding: 15px 20px;
  border: 0;
}
.addressSec {
	width: 50%;
}
.addressSec input {
	width: 90%;
}
.hero-details-content-wrapper {
  width: 100%;
}
.search-box-wrapper ul li i {
  color: #a0a0a0;
  font-size: 24px;
  line-height: 36px;
  margin-right: 10px;
}
.search-box-wrapper ul li input[type="submit"] {
	background-color: #F05A24;
	color: #FFF;
	font-weight: 600;
	padding: 15px 40px;
	border-radius: 3px;
}
.search-box-wrapper ul li:first-child {
  border-right: 1px solid #f0f0f0;
  margin-right: 5px;
}
.search-box-wrapper {
	margin-top: 30px;
}

.single-popular-cat-icon {
	background: #FFFFFF;
	width: 255px;
	text-align: center;
	position: relative;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	margin-bottom: 10px;
}
.single-popular-cat-icon span {
	position: absolute;
	right: 15px;
	top: 15px;
	background: #F0F0F0;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.midle-content-with-iconn i {
	margin-left: -20px;
    display: inline;
    margin-bottom: 20px;
}
.midle-content-with-iconn i::before {
	display: inline;
	font-size: 65px;
    color: #F05A24;
}
.single-popular-cat-icon:hover i::before{
     transform: rotateY(360deg);
	 transition:  2s ease all;
     color:#686868;
}
.midle-content-with-iconn h4 {
	margin-bottom: 0;
    margin-top: 15px;
    display: block;
}
.single-popular-cat-icon:hover{
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	box-shadow: 0px 7px 10px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}
.single-popular-cat-icon:hover h4{
    transform: rotateY(360deg);
	transition:  2s ease all;
     color:#686868;
}
.single-popular-cat-icon a {
    color: #686868;
    display: block;
}

a.scroll-top-indicator {
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
  font-weight: 500;
   position: fixed;
 	  z-index: 999;
	  right: 10px;
    bottom: 30px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: #F05A24;
    display: none;
}